.row-event {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
  width: 700px;
}

.map-big {
  width: 600px;
  height: 900px;
  margin-bottom: 30px;
}

.map-container {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
