// Styling of the user page

.user-left-col {
  width: 65%;
  margin-right: 60px;
  padding-bottom: 30px;
  h4 {
    margin-top: 25px;
  }
}
.user-right-col {
  width: 35%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-content: center;
  padding-bottom: 30px;
}

.user-info {
  width: 100%;
  gap: 30px;
  p {
    margin: 0;
  }
}

.ninety {
  width: 95%;
  margin: 0 auto;
  gap: 50px;
}

.map-user {
  width: 100%;
  height: 200px;
  margin: 10px 0 20px 0;
}
