<div class="container-custom">
  <div class="row-custom gap-30">
    <% @artisans.each do |artisan| %>
      <div class="artisan-card">
        <a href="<%= user_path(artisan) %>">
          <h3><%= "#{artisan.first_name} #{artisan.last_name}" %></h3>
          <p><%= artisan.location %></p>
          <p><%= artisan.description %></p>
        </a>
      </div>
    <% end %>
  </div>
</div>
