<div class="navbar">
  <p class="logo"><%= link_to "Artigiani", root_path %></p>
  <p>|</p>
  <ul class="nav-links">
    <li><%= link_to "EVENTS", events_path %></li>
    <li><%= link_to "MARKET", items_path %></li>
    <li><%= link_to "LOG IN", new_user_session_path %></li>
  </ul>
</div>
