<div class="navbar">
  <p class="logo">Artigiani</p>
  <p>|</p>
  <ul class="nav-links">
    <li><%= link_to "EVENTS", "#" %></li>
    <li><%= link_to "MARKET", "#" %></li>
    <li><%= link_to "LOG IN", "#" %></li>
  </ul>
</div>
