<div class="search">
  <%= form_with url: events_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search event by city or country"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-search" %>
    <% end %>
</div>
