<div class="banner banner<%= "#{rand(2..4)}" %>">
  <h1>Artigiani</h1>
  <p>superior quality<br>
  sustainable production<br>
  fair price</p>
</div>
<div class="container-custom">
  <div class="row-custom">
    <a href="<%= materials_path %>" class="card-third background-standard card1"><h4>Materials & Details</h4></a>
    <a href="<%= users_path %>" class="card-third background-standard card3"><h4>our Artisans</h4></a>
    <a href="<%= sustainability_path %>" class="card-third background-standard card4"><h4>Sustainability & Ethics</h4></a>
  </div>
  <div class="row-custom">
    <a href="#" class="card-half background-standard card2"><h4>the Market</h4></a>
    <a href="#" class="card-half background-standard card5"><h4>Events</h4></a>
  </div>
</div>
