<div class="container-custom flex general-margin-top">
  <div class="flex-images">
    <%= image_tag("sust1.jpg", alt: "maglione", style: "width: 500px;") %>
    <%= image_tag("card1.jpg", alt: "maglione", style: "width: 500px;") %>
  </div>
  <div>
    <h1>Sustainability & Ethics</h1>
    <p>
      Handcrafts and sustainability are inherently connected in various ways, and their relationship highlights the positive impacts of supporting handmade products.
      <br><br>
      Handcrafts represent a fusion of artistry, tradition, and skill, often passed down through generations. These products are meticulously crafted by skilled artisans using manual techniques rather than mass-produced by machines. This process often involves locally-sourced materials, reducing the carbon footprint associated with transportation and production.
      <br><br>
      One of the primary connections between handcrafts and sustainability lies in their eco-friendliness. Artisans frequently utilize sustainable materials like organic cotton, natural dyes, reclaimed wood, or recycled materials in their creations. By opting for these materials, they reduce environmental harm and support a more sustainable production cycle.
      <br><br>
      Moreover, the handmade process usually generates less waste compared to mass production methods. Artisans tend to be mindful of utilizing materials efficiently, often repurposing scraps or leftovers, thereby minimizing waste that might otherwise end up in landfills.
      <br><br>
      Purchasing handcrafted items also fosters economic sustainability within communities. By supporting local artisans and craftsmen, consumers contribute directly to the livelihoods of these individuals and their families. This support helps preserve traditional craftsmanship, empowering communities to maintain their cultural heritage while providing a sustainable source of income.
      <br><br>
      Furthermore, handcrafted products often have a longer lifespan due to their high quality and unique designs. They're not only functional but also possess a story behind them, adding sentimental value and reducing the likelihood of disposal. This contrasts with fast-fashion or mass-produced items that often contribute to a disposable culture and environmental strain.
      <br><br>
      When consumers invest in handcrafted goods, they are making a conscious choice to support sustainable practices, local economies, and the preservation of cultural heritage. It's a vote for quality over quantity, uniqueness over uniformity, and tradition over fleeting trends. These products carry a sense of authenticity and connection to the maker, fostering a deeper appreciation for the artistry and effort put into each piece.
      <br><br>
      Ultimately, the positive impact of buying handcrafted goods extends far beyond the product itself—it contributes to a more sustainable, eco-conscious, and culturally rich world.
    </p>
  </div>
</div>
