<div class="container-custom general-margin-top">
  <div>
    <h1><%= @item.name %></h1>
    <p><%= @item.user.company %></p>
    <p><%= @item.description %></p>
    <p><%= @item.price %></p>
  </div>
</div>
