.button .btn {
  background-color: $light-grey;
  color: #000 !important;
  border: none;
  padding: 8px 20px;
  border-radius: 50px !important;
  font-size: 16px;
  width: 100%;
  font-family: $headers-font;
  &:hover {
    background-color: #000;
    color: #fff !important;
  }
}

.btn-search {
  background-color: #ffffff74;
  margin-left: 10px;
  border-radius: 50px !important;
  &:hover {
    background-color: #000000;
    color: #fff;
  }
}
