.background-standard {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card1 {
  background-image: asset-url('card1.jpg');
}

.card2 {
  background-image: asset-url('card2.jpg');
}

.card3 {
  background-image: asset-url('card3.jpg');
}

.card4 {
  background-image: asset-url('card4.jpg');
}

.card5 {
  background-image: asset-url('card5.jpg');
}

.card-third {
  position: relative;
  width: calc(33.3% - 3px);
  height: 180px;
  background-color: $grey;
  padding: 75px 0 0 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  h1, h2, h3, h4, h5, h6 {
    color:#fff !important;
    position: relative;
    z-index: 1;
    padding: 5px 30px;
    bottom: 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow:  1px 1px 2px rgba(0, 0, 0, 0.592);
  }
  &::before {
    content: "";
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    transition: opacity 0.3s ease;
    background-clip: content-box;
    z-index: 0;
  }
  &:hover::before {
    opacity: 0;
    z-index: 0;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.card-half {
  position: relative;
  width: calc(50% - 3px);
  background-color: $grey;
  height: 200px;
  padding: 85px 0 0 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  h1, h2, h3, h4, h5, h6 {
    color:#ffffff !important;
    position: relative;
    z-index: 1;
    padding: 5px 30px;
    text-align: center;
    text-transform: uppercase;
    text-shadow:  1px 1px 2px rgba(0, 0, 0, 0.592);
  }
  &::before {
    content: "";
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    transition: opacity 0.3s ease;
    background-clip: content-box;
    z-index: 0;
  }
  &:hover::before {
    opacity: 0;
    z-index: 0;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.row-custom {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  // justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.gap-5 {
  gap: 2px !important;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

// artisans
.artisan-card {
  width: calc(33% - 20px);
  height: 400px;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  &:hover {
    background-color: $extra-light-grey;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    h3, p {
      color: #000;
    }
  }
}

// events
.event-card {
  height: 450px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  &:hover {
    background-color: $extra-light-grey;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    h3, p {
      color: #000;
    }
  }
}

// items
.item-card {
  display: flex;
  flex-direction: column;
  width: calc(25% - 30px);
  min-width: 280px;
  height: 450px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  h3 {
    margin-bottom: 2px;
    line-height: 30px;
    height: 70px;
  }
  h4 {
    margin-bottom: 2px;
    line-height: 25px;
    height: 60px;
  }
  p {
    line-height: 18px;
    margin-bottom: 10px;
  }
  .price {
    bottom: 5px;
    position:absolute;
  }
  .text {
    padding: 10px 30px;
    z-index: 1;
    bottom: 0;
    position: absolute;
    height: 160px;
  }
  &:hover {
    h3, h4, p {
      color: #000;
    }
    background-color: $light-yellow;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
}

.item-card-a {
  width: 100%;
  height: 450px;
  position: absolute;
  cursor: pointer;
  .item-img {
    height: 280px;
  }
}

.item-img {
  z-index: 0;
  height: 280px;
  position: relative;
  width: 100%;
  img {
    top: 0;
    width: 100%;
    // height: 280px;
    object-fit: cover;
    z-index: 0;
    position:absolute;
  }
  .item-btns {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 2;
    padding: 30px 25px;
    width: 100%;
    height: 280px;
    text-align: right;
    a, .item-btn {
      z-index: 2;
      color: #ffffffab;
      -webkit-text-stroke: #0000003e 1px;
      &:hover {
        color: #fff;
        -webkit-text-stroke: #000 1px;
      }
    }
    .item-btn {
      background: none;
      border: none;
    }

    .full {
      color: #fff;
    }
  }
}

.item-card-sm {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 280px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 0;
  &:hover {
    h5, p {
      color: #000;
    }
    background-color: $light-yellow;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  h5 {
    margin-bottom: 2px;
  }
  p {
    margin-bottom: 5px;
  }
}

.item-card-a-sm {
  width: 300px;
  height: 280px;
  position: absolute;
  cursor: pointer;
  .item-img {
    img {
      width: 100%;
      max-height: 200px;
      object-fit: cover;
    }
  }
  .text {
    padding: 15px;
    z-index: 1;
    bottom: 0;
    position: absolute;
    height: 80px;
    color: #000;
  }
}
