.container-custom {
  margin: 0 auto;
  padding: 40px 70px;
  width: 100%;
}

.container-60 {
  width: 600px;
  margin: 0 auto;
  padding: 40px 0;
}

.centered {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}

.flex-images {
  margin-top: 100px;
  img {
    margin-bottom: 30px;
  }
}
