.container-custom {
  margin: 0 auto;
  padding: 40px 70px;
  width: 100%;
}

.container-home {
  margin: 0 auto;
  border-top: 1px solid #000000b2;
  padding: 0 0 50px 0;
  width: 100%;
  height: fit-content;
}

.container-60 {
  width: 600px;
  margin: 0 auto;
  padding: 40px 0;
}

.centered {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}

.flex-images {
  margin-top: 100px;
  img {
    margin-bottom: 30px;
  }
}

body {
  background-color: #e7e7e7;
}

.general-margin-top {
  margin-top: 70px;
}

.margin-top-minus {
  margin-top: -70px;
}

.container-artisans {
  margin: 0 auto;
  width: 100%;
  margin-top: 70px;
}
